PORT=9000
NODE_ENV=dev
NODE_PATH=app/src
PUBLIC_URL=http://twitter.dev:9000
MONGO_PORT_27017_TCP_ADDR=mongo
GFW_TWITTER_CONSUMER_KEY
GFW_TWITTER_CONSUMER_SECRET
RW_TWITTER_CONSUMER_KEY
RW_TWITTER_CONSUMER_SECRET
PREP_TWITTER_CONSUMER_KEY
PREP_TWITTER_CONSUMER_SECRET
